name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.3, 8.4]
        symfony: [^6.4, false]
        dependency: [stable]
        include:
          - { php: 8.4, symfony: ^7.4, dependency: highest }
          - { php: 8.4, symfony: ^8.0, dependency: highest }

    env:
      SYMFONY_REQUIRE: ${{ matrix.symfony }}

    name: Tests P${{ matrix.php }} - SF${{ matrix.symfony }} - ubuntu-latest - ${{ matrix.dependency }}
    steps:

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip
          coverage: none
          tools: flex

      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency }}

      - name: Integration Tests
        run: php ./vendor/bin/phpunit
