name: Tests

on: ['push', 'pull_request']

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.1, 8.2, 8.3, 8.4]
        symfony: [5.4.*, 6.4.*, 7.2.*]
        dependency-version: [prefer-lowest, prefer-stable]
        exclude:
          - php: 8.1
            symfony: 7.2.*

    name: Tests P${{ matrix.php }} - SF${{ matrix.symfony }} - ubuntu-latest - ${{ matrix.dependency-version }}
    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-php-${{ matrix.php }}-SF${{ matrix.symfony }}-${{ matrix.dependency-version }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip
          coverage: none

      - name: Require Symfony Version
        run: >
          composer require
          "symfony/config:${{ matrix.symfony }}"
          "symfony/dependency-injection:${{ matrix.symfony }}"
          "symfony/http-kernel:${{ matrix.symfony }}"
          --no-interaction --no-update

      - name: Install Composer dependencies
        run: composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist

      - name: Integration Tests
        run: php ./vendor/bin/simple-phpunit
